<style>
<!--
.editavel {
	padding: 1px;
}
-->
</style>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var nome = $('#td-nome').text();
	  var vc1 = $('#td-vc1').text();
	  var vc2 = $('#td-vc2').text();
	  var vf = $('#td-vf1').text();
	  var rec = $('#td-rec1').text();
	  var cons = $('#td-cons1').text();
	  // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	
	  modal.find('.modal-body #nome').val(nome);
	  modal.find('.modal-body #vc1').val(vc1);
	  modal.find('.modal-body #vc2').val(vc2);
	  modal.find('.modal-body #vf1').val(vf);
	  modal.find('.modal-body #rec1').val(rec);
	  modal.find('.modal-body #cons1').val(cons);
	})
</script>




<div class="table-responsive">
	<div>lalala</div>
	<table id="tbl"
		class="table table-striped table-hover table-bordered table-responsive">
		<caption>Primeiro Semestre</caption>
		<thead>
			<tr>
				<th>Aluno</th>
				<th>VC1</th>
				<th>VC2</th>
				<th>VF</th>
				<th>M Parcial</th>
				<th>M Final</th>
				<th>Rec</th>
				<th>Cons</th>
				<th>Resultado</th>
				<th>Situa&ccedil;&atilde;o</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row : ${page}">
				<td id="td-nome" th:text="${row.aluno.alunoNome}">Nome <input type="hidden"
					name="codNota" id="codNota" value="${row.codNota}">
				</td>
				<td id="td-vc1" class="editavel" title="vc1" th:text="${row.vC11Sem}">VC 1</td>
				<td id="td-vc2" class="editavel" title="vc2" th:text="${row.vC21Sem}">VC 2</td>
				<td id="td-vf1" class="editavel" title="vf1" th:text="${row.vF1Sem}">VF</td>
				<td th:text="${row.medPar1Sem}">MEDIA PARCIAL</td>
				<td th:text="${row.medFin1Sem}">Last Name</td>
				<td id="td-rec1"  class="editavel" title="rec1" th:text="${row.rec1Sem}">Last
					Name</td>
				<td id="td-cons1"  class="editavel" title="cons1" th:text="${row.cons1Sem}">Last
					Name</td>
				<td th:text="${row.res1Sem}">Last Name</td>
				<td th:text="${row.resSituacao}">Last Name</td>
				<td><button type="button" class="btn btn-primary eBtn" data-toggle="modal"
							data-target="#exampleModal">+</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Notas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
								<label class="col-sm-2 control-label" for="nome">Nome</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" 
										name="nome" id="nome" readonly="readonly"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" for="vc1">Primeira VC</label>
								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Nota VC 1" name="vc1" id="vc1" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="vc2">Segunda VC</label>
								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Nota VC 2" name="vc2" id="vc2" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="vf1">Verificação Final</label>
								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Nota VF" name="vf1" id="vf1" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="rec">Recuperação</label>
								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Nota Rec" name="rec" id="rec1" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="cons">Conselho</label>
								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Nota Cons" name="cons" id="cons1" />
								</div>
							</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary eBtn">Salvar</button>
      </div>
    </div>
  </div>
</div>